
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility testing notes - Book a drive-through test  - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Accessibility testing notes</span>
        Book a drive-through test
      </h1>

      <nav aria-labelledby="page-content">
        <h2 class="govuk-heading-s" id="page-content">Contents</h2>
        <ol class="govuk-list govuk-list--number">
          <li><a href="#start">Start page</a></li>
          <li><a href="#validate-code">What's your invitation code?</a></li>
          <li><a href="#validate-code-error">Error: What's your invitation code?</a></li>
          <li><a href="#vehicle-registration">What's your vehicle registration number?</a></li>
          <li><a href="#vehicle-registration-error">Error: What's your vehicle registration number?</a></li>
          <li><a href="#age">What's your date of birth?</a></li>
          <li><a href="#age-error">Error: What's your date of birth?</a></li>
          <li><a href="#name">What's your name?</a></li>
          <li><a href="#name-error">Error: What's your name?</a></li>
          <li><a href="#gender">What's your gender?</a></li>
          <li><a href="#gender-error">Error: What's your gender?</a></li>
          <li><a href="#email-address">What's your email address?</a></li>
          <li><a href="#email-address-error">Error: What's your email address?</a></li>
          <li><a href="#contact-mobile-number">What's your mobile number?</a></li>
          <li><a href="#contact-mobile-number-error">Error: What's your mobile number?</a></li>
          <li><a href="#postcode">What's your home postcode?</a></li>
          <li><a href="#postcode-error">Error: What's your home postcode?</a></li>

          <li><a href="#nhs-number-option">Do you know your NHS number?</a></li>
          <li><a href="#nhs-number-option-error">Error: Do you know your NHS number?</a></li>

          <li><a href="#nhs-number">What's your NHS number?</a></li>
          <li><a href="#nhs-number-error">Error: What's your NHS number?</a></li>

          <li><a href="#app-reference-option">Do you have the NHS COVID-19 app?</a></li>
          <li><a href="#app-reference-option-error">Error: Do you have the NHS COVID-19 app?</a></li>

          <li><a href="appointment/app-reference">What's your app reference code?</a></li>
          <li><a href="appointment/app-reference-error">Error: What's your app reference code?</a></li>

          <li><a href="appointment/check-answers">Check your answers</a></li>

        </ol>
      </nav>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Please note the tested links may not work due to the GUID that is generated per session for the URL.</p>
    
      <ol class="govuk-list govuk-list--number govuk-!-margin-top-8">
        
        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="start">Start page</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/appointment">appointment</a><br>Page with sample HTML: <a href="start">start</a></p> 

          <h3 class="govuk-heading-s">Comments</h3>
          <ol class="govuk-list govuk-list--number">
            <li>Incorrect heading structure - the headings below the  <code>&lt;h1&gt;</code> are <code>&lt;h4&gt;</code> when they should be <code>&lt;h2&gt;</code>. Screen reader users often rely on navigating by heading so if the structure isn’t hierarchical they may not understand the relationship.</li>
          </ol>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="validate-code">What's your invitation code?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#validate-code">validate-code</a><br>Page with sample HTML: <a href="validate-code">validate-code</a></p>

          <h3 class="govuk-heading-s">Comments</h3>
          <ol class="govuk-list govuk-list--number">
            <li>Hint text is not correctly associated with the <code>&lt;fieldset&gt;</code>. Correcting this improves the screen reader experience.</li>
            <li>Conside using 1 field rather than 4 separate ones which can cause confusion due to layout issues when zoomed in on various devices. This would need to be tested along with the invitation code that is sent via text message to determine the best format.</li>
          </ol>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;fieldset class="govuk-fieldset" aria-describedby="code-hint"&gt;
  &lt;legend class="govuk-fieldset__legend govuk-fieldset__legend--s"&gt;Enter your invitation code&lt;/legend&gt;
  &lt;span class="govuk-hint" id="code-hint"&gt;This is the 16 digit code you received in the text message we sent you.&lt;/span&gt;
  
  &lt;!-- input fields --&gt;

&lt;/fieldset&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="validate-code-error">Error: What's your invitation code?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#validate-code">validate-code</a> (with forced error)<br>Page with sample HTML: <a href="validate-code-error">validate-code-error</a></p>

          <h3 class="govuk-heading-s">Comments</h3>
          <ol class="govuk-list govuk-list--number">
            <li>It is recommended that the error message in the summary box should link directly to the input field. However in this case this may cause confusion as there are 4 fields and focussing on the first one might suggest that the text entered here is incorrect. As there is no pattern for this 4-field value, this requires more testing so is best to wait for the audit.</li>
          </ol>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="vehicle-registration">What's your vehicle registration number?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#vehicle-registration">vehicle-registration</a><br>Page with sample HTML: <a href="vehicle-registration">vehicle-registration</a></p>

          <h3 class="govuk-heading-s">Comments</h3>
          <ol class="govuk-list govuk-list--number">
            <li>Incorrect use of <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> elements. There is only 1 input field so there is no need to use a <code>&lt;fieldset&gt;</code></li>
            <li>There are 2 <code>&lt;label&gt;</code> elements to describe the 1 input field.</li>
            <li>Hint text is not correctly associated with the input field. However, it could be argued that because there is a lot of hint text, then this creates extra 'noise' that screen readers will read out so there isn't a need to link it to the input. This may need user testing.</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/fieldset/">https://design-system.service.gov.uk/components/fieldset/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/text-input/">https://design-system.service.gov.uk/components/text-input/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;label class="govuk-label" for="vehicle-registration"&gt;
      Vehicle registration number (number plate). For example, CU57ABC
    &lt;/label&gt;
    &lt;div id="vehicle-registration-hint"&gt;
      &lt;p class="govuk-hint"&gt;This must be the number plate of the vehicle you’ll use to visit the test site. It does not have to be registered in your name, just as long as it’s the vehicle you turn up in. This can be a car or a small van.&lt;/p&gt;
      &lt;p class="govuk-hint"&gt;You cannot turn up on foot or in a taxi.&lt;/p&gt;
    &lt;/div&gt;
    &lt;input class="govuk-input" id="vehicle-registration" name="vehicle-registration" type="text" aria-describedby="vehicle-registration-hint"&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button"&gt;Continue&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="vehicle-registration-error">Error: What's your vehicle registration number?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#vehicle-registration">vehicle-registration</a> (with forced error)<br>Page with sample HTML: <a href="vehicle-registration-error">vehicle-registration-error</a></p>

          <h3 class="govuk-heading-s">Comments</h3>
          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Ensure that the error message in the summary box links to the input field and not to the error message</li>
          </ol>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;!-- Error summary box --&gt;
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#vehice-registration"&gt;Enter a vehicle registration number&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Form --&gt;
&lt;form&gt;
  &lt;div class="govuk-form-group govuk-form-group--error"&gt;
    &lt;label class="govuk-label" for="vehicle-registration"&gt;
      Vehicle registration number (number plate). For example, CU57ABC
    &lt;/label&gt;
    &lt;div id="vehicle-registration-hint"&gt;
      &lt;p class="govuk-hint"&gt;This must be the number plate of the vehicle you’ll use to visit the test site. It does not have to be registered in your name, just as long as it’s the vehicle you turn up in. This can be a car or a small van.&lt;/p&gt;
      &lt;p class="govuk-hint"&gt;You cannot turn up on foot or in a taxi.&lt;/p&gt;
    &lt;/div&gt;

    &lt;span id="vehicle-registration-error" class="govuk-error-message"&gt;
      &lt;span class="govuk-visually-hidden"&gt;Error:&lt;/span&gt; Enter a vehicle registration number
    &lt;/span&gt;

    &lt;input class="govuk-input govuk-input--error" id="vehicle-registration" name="vehicle-registration" type="text" aria-describedby="vehicle-registration-error"&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button"&gt;Continue&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="age">What's your date of birth?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/age">age</a><br>Page with sample HTML: <a href="age">age</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Empty <code>&lt;legend&gt;</code> element which is a requirement inside the <code>&lt;fieldset&gt;</code> element. This can be added and made a heading.</li>
            <li>Hint text is not correctly associated with the <code>&lt;fieldset&gt;</code>. Correcting this improves the screen reader experience.</li>
            <li>Recommend adding the <code>autocomplete</code> attribute to the input fields. This lets browsers autofill the information on a user’s behalf if they’ve entered it previously. See reference link below.</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/date-input/">https://design-system.service.gov.uk/components/date-input/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint"&gt;
      &lt;legend class="govuk-fieldset__legend govuk-fieldset__legend--xl"&gt;
        &lt;h1 class="govuk-fieldset__heading"&gt;
          What's your date of birth?
        &lt;/h1&gt;
      &lt;/legend&gt;
      &lt;span id="dob-hint" class="govuk-hint"&gt;
        For example, 31 3 1980
      &lt;/span&gt;
      &lt;div class="govuk-date-input" id="dob"&gt;
        &lt;div class="govuk-date-input__item"&gt;
          &lt;div class="govuk-form-group"&gt;
            &lt;label class="govuk-label govuk-date-input__label" for="date-day"&gt;
              Day
            &lt;/label&gt;
            &lt;input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-day" name="day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric"&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="govuk-date-input__item"&gt;
          &lt;div class="govuk-form-group"&gt;
            &lt;label class="govuk-label govuk-date-input__label" for="date-month"&gt;
              Month
            &lt;/label&gt;
            &lt;input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-month" name="month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric"&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="govuk-date-input__item"&gt;
          &lt;div class="govuk-form-group"&gt;
            &lt;label class="govuk-label govuk-date-input__label" for="date-year"&gt;
              Year
            &lt;/label&gt;
            &lt;input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-year" name="year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric"&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button"&gt;Continue&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li> 


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="age-error">Error: What's your date of birth?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/age">age</a> (with forced error)<br>Page with sample HTML: <a href="age-error">age-error</a></p>

          <h3 class="govuk-heading-s">Comments</h3>
          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Ensure that the error message in the summary box links to the first input field and not to the error message. Consider being more specific and validate each item rather than as a whole.</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/error-summary/">https://design-system.service.gov.uk/components/error-summary/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#date-day"&gt;Please enter a valid DOB&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="name">What's your name?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/name">name</a><br>Page with sample HTML: <a href="name">name</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Consider using a <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> element to group the two input fields</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/patterns/names/">https://design-system.service.gov.uk/patterns/names/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/text-input/">https://design-system.service.gov.uk/components/text-input/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;fieldset class="govuk-fieldset"&gt;
      &lt;legend class="govuk-fieldset__legend govuk-fieldset__legend--xl"&gt;
        &lt;h1 class="govuk-fieldset__heading"&gt;What's your name?&lt;/h1&gt;
      &lt;/legend&gt;
      &lt;div class="govuk-form-group"&gt;
        &lt;label class="govuk-label" for="given-name"&gt;
          First name
        &lt;/label&gt;
        &lt;input class="govuk-input" id="given-name" name="given-name" type="text" autocomplete="given-name" spellcheck="false"&gt;
      &lt;/div&gt;
      &lt;div class="govuk-form-group"&gt;
        &lt;label class="govuk-label" for="family-name"&gt;
          Last name
        &lt;/label&gt;
        &lt;input class="govuk-input" id="family-name" name="family-name" type="text" autocomplete="family-name" spellcheck="false"&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="name-error">Error: What's your name?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/name">name</a> (with forced error)<br>Page with sample HTML: <a href="name-error">name-error</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Ensure that each error message in the summary box links to the appropriate input field and not to the error message</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/error-message/">https://design-system.service.gov.uk/components/error-message/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/error-summary/">https://design-system.service.gov.uk/components/error-summary/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#given-name"&gt;Enter your first name&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#family-name"&gt;Enter your last name&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="gender">What's your gender?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/gender">name</a><br>Page with sample HTML: <a href="gender">gender</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Consider using a <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> element to group the two input fields</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/radios/">https://design-system.service.gov.uk/components/radios/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;fieldset class="govuk-fieldset"&gt;
      &lt;legend class="govuk-fieldset__legend govuk-fieldset__legend--xl"&gt;
        &lt;h1 class="govuk-fieldset__heading"&gt;
          What&#39;s your gender?
        &lt;/h1&gt;
      &lt;/legend&gt;
      &lt;div class="govuk-radios"&gt;
        &lt;div class="govuk-radios__item"&gt;
          &lt;input class="govuk-radios__input" id="male" name="sex" type="radio" value="male"&gt;
          &lt;label class="govuk-label govuk-radios__label" for="male"&gt;
            Male
          &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="govuk-radios__item"&gt;
          &lt;input class="govuk-radios__input" id="female" name="sex" type="radio" value="female"&gt;
          &lt;label class="govuk-label govuk-radios__label" for="female"&gt;
            Female
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button"&gt;Continue&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="gender-error">Error: What's your gender?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/gender">gender</a> (with forced error)<br>Page with sample HTML: <a href="gender-error">gender-error</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Recommend that the error message in the summary box links to the first radio button and not to the error message</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/radios/">https://design-system.service.gov.uk/components/radios/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/error-message/">https://design-system.service.gov.uk/components/error-message/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/error-summary/">https://design-system.service.gov.uk/components/error-summary/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#male"&gt;Select a gender&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="email-address">What's your email address?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/email">email</a><br>Page with sample HTML: <a href="email-address">email-address</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Consider using a <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> element to group the two input fields</li>
            <li>Consider whether the text should be used as hint text to describe the email address field.</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/fieldset/">https://design-system.service.gov.uk/components/fieldset/</a></li>
            <li><a href="https://design-system.service.gov.uk/patterns/email-addresses/">https://design-system.service.gov.uk/patterns/email-addresses/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;fieldset class="govuk-fieldset"&gt;
      &lt;legend class="govuk-fieldset__legend govuk-fieldset__legend--xl"&gt;
        &lt;h1 class="govuk-fieldset__heading"&gt;
          What's your email address?
        &lt;/h1&gt;
      &lt;/legend&gt;
      &lt;p class="govuk-body"&gt;We'll email your test site pass and test results to this email address. You can print this out or bring a copy of it on your mobile phone.&lt;/p&gt;
      &lt;p class="govuk-body"&gt;Make sure you're happy for your test results to go to this email address. Do not use a work or shared email address unless you're comfortable with others seeing your results.&lt;/p&gt;
      &lt;div class="govuk-form-group"&gt;
        &lt;label class="govuk-label" for="email"&gt;
          Email address
        &lt;/label&gt;
        &lt;input class="govuk-input" id="email" name="email" type="email" autocomplete="email" spellcheck="false"&gt;
      &lt;/div&gt;
      &lt;div class="govuk-form-group"&gt;
        &lt;label class="govuk-label" for="email-confirmation"&gt;
          Confirm email address
        &lt;/label&gt;
        &lt;input class="govuk-input" id="email-confirmation" name="email-confirmation" type="email" autocomplete="email" spellcheck="false"&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button"&gt;Continue&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="email-address-error">Error: What's your email address?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/name">email</a> (with forced error)<br>Page with sample HTML: <a href="email-address-error">email-address-error</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Ensure that each error message in the summary box links to the appropriate input field and not to the error message</li>
            <li>Recommend not having the same error message for both input fields</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/error-message/">https://design-system.service.gov.uk/components/error-message/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/error-summary/">https://design-system.service.gov.uk/components/error-summary/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#email"&gt;Email address is required&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#email-confirmation"&gt;Confirmation email address is required&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="contact-mobile-number">What's your mobile number?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/contact-mobile-number">contact-mobile-number</a><br>Page with sample HTML: <a href="contact-mobile-number">contact-mobile-number</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Consider using a <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> element to group the two input fields</li>
            <li>Consider whether the text should be used as hint text to describe the mobile phone number field.</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/fieldset/">https://design-system.service.gov.uk/components/fieldset/</a></li>
            <li><a href="https://design-system.service.gov.uk/patterns/telephone-numbers/">https://design-system.service.gov.uk/patterns/telephone-numbers/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;fieldset class="govuk-fieldset"&gt;
      &lt;legend class="govuk-fieldset__legend govuk-fieldset__legend--xl"&gt;
        &lt;h1 class="govuk-fieldset__heading"&gt;
          What's your mobile number?
        &lt;/h1&gt;
      &lt;/legend&gt;
      &lt;p class="govuk-body"&gt;We'll text your test site pass and your test results to this number.&lt;/p&gt;
      &lt;p class="govuk-body"&gt;Make sure you’re happy for your test results to go to this mobile phone number. Do not use a work or shared mobile phone number unless you’re comfortable with others seeing your results.&lt;/p&gt;
      &lt;div class="govuk-form-group"&gt;
        &lt;label class="govuk-label" for="mobile"&gt;
          Mobile phone number
        &lt;/label&gt;
        &lt;input class="govuk-input" id="mobile" name="mobile" type="tel" autocomplete="tel"&gt;
      &lt;/div&gt;
      &lt;div class="govuk-form-group"&gt;
        &lt;label class="govuk-label" for="mobileConfirmation"&gt;
          Confirm mobile phone number
        &lt;/label&gt;
        &lt;input class="govuk-input" id="mobileConfirmation" name="mobileConfirmation" type="tel" autocomplete="tel"&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button"&gt;Continue&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="contact-mobile-number-error">Error: What's your mobile number?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/contact-mobile-number">contact-mobile-number</a> (with forced error)<br>Page with sample HTML: <a href="contact-mobile-number-error">contact-mobile-number-error</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Ensure that each error message in the summary box links to the appropriate input field and not to the error message</li>
            <li>Recommend looking at the error message text and make it consistent in style with the confirmation email address error message</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/error-message/">https://design-system.service.gov.uk/components/error-message/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/error-summary/">https://design-system.service.gov.uk/components/error-summary/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#mobile"&gt;Enter a mobile number&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#mobileConfirmation"&gt;Re-enter a matching mobile number&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </li>

        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="postcode">What's your home postcode?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/postcode">postcode</a><br>Page with sample HTML: <a href="postcode">postcode</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Consider associating the hint text with the input field to better describe it for screen readers</li>
            <li>Consider whether the postcode label is required as the hint text explains what the input field is or use the label as a heading</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/patterns/question-pages/#label-as-a-page-heading">https://design-system.service.gov.uk/patterns/question-pages/#label-as-a-page-heading</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;form&gt;
  &lt;p class="govuk-body" id="postcode-hint"&gt;Enter your home postcode (ideally the one you used to register with your GP).&lt;/p&gt;
  &lt;div class="govuk-form-group"&gt;
    &lt;label class="govuk-label" for="postcode"&gt;
      Postcode
    &lt;/label&gt;
    &lt;input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint"&gt;
  &lt;/div&gt;
  &lt;button class="govuk-button" data-module="govuk-button"&gt;
    Continue
  &lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </li>


        <li class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="postcode-error">Error: What's your home postcode?</h2>
          <p>Tested link: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/#4a601eb7-ae44-4dd8-bcca-b7d96979e4a6/postcode">postcode</a> (with forced error)<br>Page with sample HTML: <a href="postcode-error">postcode-error</a></p>
          
          <h3 class="govuk-heading-s">Comments</h3>

          <ol class="govuk-list govuk-list--number">
            <li>Recommend adding "Error:" to the page title</li>
            <li>Ensure that the error message in the summary box links to the input field and not to the error message</li>
          </ol>

          <h3 class="govuk-heading-s">References</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://design-system.service.gov.uk/components/error-message/">https://design-system.service.gov.uk/components/error-message/</a></li>
            <li><a href="https://design-system.service.gov.uk/components/error-summary/">https://design-system.service.gov.uk/components/error-summary/</a></li>
          </ul>

          <h3 class="govuk-heading-s">Example code</h3>
          <pre style="background:#f3f2f1; overflow-x:scroll; padding:0 20px;"><code class="govuk-!-font-size-16 govuk-!-font-weight-regular">
&lt;div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"&gt;
  &lt;h2 class="govuk-error-summary__title" id="error-summary-title"&gt;
    There is a problem
  &lt;/h2&gt;
  &lt;div class="govuk-error-summary__body"&gt;
    &lt;ul class="govuk-list govuk-error-summary__list"&gt;
      &lt;li&gt;
        &lt;a href="#mobile"&gt;Enter a UK postcode&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </li>

      </ol>

    </div>
  </div>

{% endblock %}
