{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if (data['month'] == "01") or (data['month'] == "1")  %}
  {% set month = "January" %}
{% elif (data['month'] == "02") or (data['month'] == "2")  %}
  {% set month = "February" %}
{% elif (data['month'] == "03") or (data['month'] == "3")  %}
  {% set month = "March" %}
{% elif (data['month'] == "04") or (data['month'] == "4")  %}
  {% set month = "April" %}
{% elif (data['month'] == "05") or (data['month'] == "5")  %}
  {% set month = "May" %}
{% elif (data['month'] == "06") or (data['month'] == "6")  %}
  {% set month = "June" %}
{% elif (data['month'] == "07") or (data['month'] == "7")  %}
  {% set month = "July" %}
{% elif (data['month'] == "08") or (data['month'] == "8")  %}
  {% set month = "August" %}
{% elif (data['month'] == "09") or (data['month'] == "9")  %}
  {% set month = "September" %}
{% elif (data['month'] == "10") or (data['month'] == "10")  %}
  {% set month = "October" %}
{% elif (data['month'] == "11") or (data['month'] == "11")  %}
  {% set month = "November" %}
{% elif (data['month'] == "12") or (data['month'] == "12")  %}
  {% set month = "December" %}
{% else %}
  {% set month = "Unknown" %}
{% endif %}

{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="app-reference-option">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your answers</h1>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['day'] }} {{ month }} {{ data['year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="age">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['given-name'] }} {{ data['family-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sex'] }}
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="gender">
                  Change<span class="govuk-visually-hidden"> gender</span>
                  </a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            johnsmith@gmail.com
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="email-address">
                  Change<span class="govuk-visually-hidden"> email address</span>
                  </a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07777 777777
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="contact-mobile-number">
                  Change<span class="govuk-visually-hidden"> phone number</span>
                  </a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            AA11AA
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="postcode">
                  Change<span class="govuk-visually-hidden"> postcode</span>
                  </a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number known
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="nhs-number-option">
                  Change<span class="govuk-visually-hidden"> NHS number known</span>
                  </a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number
          </dt>
          <dd class="govuk-summary-list__value">
            4857773456
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="nhs-number">
                  Change<span class="govuk-visually-hidden"> NHS number</span>
                  </a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they have the NHS app
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="app-reference-option">
                  Change<span class="govuk-visually-hidden"> do they have the NHS app</span>
                  </a>

            </dd>

        </div>


  </dl>

      <a href="household-members" class="govuk-button">Save and continue</a>

    </div>
  </div>

{% endblock %}
