{% extends "layout.html" %}

{% block pageTitle %}
  Choose a time - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="choose-test-centre">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose a time</h1>

      <form action="choose-time-next-day" method="post">

        <p class="govuk-body">
          {% if (data['chosenTestCentre']) == "MCM"  %}

          Manchester (Manchester Airport)<br>
          Airport Staff Parking South Carpark<br>
          Manchester<br>
          M90 1QX

          {% elif (data['chosenTestCentre']) == "NTM"  %}

          Nottingham (Boots)<br>
          D90, Thane Rd<br>
          Nottingham<br>
          NG90 1BS

          {% elif (data['chosenTestCentre']) == "GTE"  %}

          Gateshead (IKEA)<br>
          Metro Park West, Pinetree Way, Swalwell<br>
          Gateshead<br>
          NE11 9XS

          {% elif (data['chosenTestCentre']) == "SDM"  %}

          Sandwell (Sandwell General Hospital)<br>
          C/o little lane car park, Lyndon<br>
          West Bromwich<br>
          B71 4HJ

          {% elif (data['chosenTestCentre']) == "BRM"  %}

          Birmingham (Edgbaston Cricket Ground)<br>
          Edgbaston Stadium, Edgbaston Rd<br>
          Birmingham<br>
          B5 7QU

          {% elif (data['chosenTestCentre']) == "M01_01"  %}

          Van01-Location-1,
          Edgbaston Stadium, Edgbaston Rd,
          Birmingham,
          B5 7QU

          {% else  %}

          Manchester (Manchester Airport),
          Airport Staff Parking South Carpark,
          Manchester,
          M90 1QX

          {% endif  %}
        </p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-body-l">Available test times for your household </h2>

<p class="govuk-body">When booking a test, please be aware that:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you can only book an appointment for tomorrow or the day after</li>
<li>you must turn up at the start time of your appointment. Do not arrive early or late</li>
<li>it usually takes no more than 10 minutes to test each person</li>
<li>if there is more than one of you to be tested, you'll have to wait a bit longer so that each person can be tested</li>
<li>you may have to wait to be tested, but you should not expect to be at the test site for any more than an hour</li>
</ul>

<script>
  var objToday = new Date(),
      weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'),
      dayOfWeek = weekday[objToday.getDay()],
      dayOfMonth = objToday.getDate(),
      months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
      curMonth = months[objToday.getMonth()];

  var today = dayOfWeek + ' ' + dayOfMonth + ' ' + curMonth;

  document.write('<p class="govuk-body govuk-!-font-weight-bold">' + today + '</p>')
</script>

<p class="govuk-body-l">There are no available times on this day</p>

<p class="govuk-body govuk-!-margin-bottom-8"><a href="choose-time-next-day" class="govuk-link">See next day</a></p>

        <button class="govuk-button govuk-!-margin-right-5" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-button govuk-button--secondary" href="find-test-centre">Change search area</a>

      </form>

    </div>
  </div>

{% endblock %}
