{% extends "layout.html" %}

{% block pageTitle %}
  Error: Find a test site - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="find-test-centre">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": "Enter a UK postcode",
            "href": "#postcode"
          }
        ]
      }) }}

      <h1 class="govuk-heading-xl">Find a test site</h1>

      <form action="choose-test-centre" method="post" novalidate>
        <p class="govuk-body" id="postcode-hint">Put in your postcode to find a test site where you can have a coronavirus (COVID-19) test.</p>
        
        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "postcode",
          name: "postcode",
          describedBy: "postcode-hint",
          errorMessage: {
            "text": "Enter a UK postcode"
          }
        }) }}
        
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        {{ govukWarningText({
          text: "We are currently experiencing a very high demand for test site appointments. It may take up to a minute to show test sites near you. If a list is not presented, please click the ‘Find a site’ button again.",
          iconFallbackText: "Warning"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
