{% extends "layout.html" %}

{% block pageTitle %}
  Error: What's your gender? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="gender">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": "Select a gender",
            "href": "#male"
          }
        ]
      }) }}

      <form class="form" action="email" method="post">

        {{ govukRadios({
          name: "sex",
          fieldset: {
            legend: {
              text: "What's your gender?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          errorMessage: {
            text: "Select a gender"
          },
          items: [
            {
              id: "male",
              value: "male",
              text: "Male"
            },
            {
              id: "female",
              value: "female",
              text: "Female"
            }
          ]
        }) }}
                    
        <button class="govuk-button">Continue</button>

      </form>


    </div>
  </div>

{% endblock %}
