{% extends "layout.html" %}

{% block pageTitle %}
  What's your gender? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="name">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="ethnicity-group" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What&#39;s your gender?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="male" name="sex" type="radio" value="Male" {{ checked("sex", "male") }}>
                <label class="govuk-label govuk-radios__label" for="male">
                  Male
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="female" name="sex" type="radio" value="Female" {{ checked("sex", "female") }}>
                <label class="govuk-label govuk-radios__label" for="female">
                  Female
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>


    </div>
  </div>

{% endblock %}
