{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
  People confirmed for testing - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="household-member-check-answers">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">People confirmed for testing</h1>

      <p class="govuk-body"> You can add up to 3 people you live with to join you for testing. They must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be aged 5 and over</li>
        <li>also have symptoms</li>
        <li>arrive in the same vehicle</li>
        <li>sit next to a window that opens</li>
        <li>bring their test site pass and photo ID</li>
      </ul>

      <p class="govuk-body"> Once you’ve confirmed all people for testing, you can book your appointment. </p>

      <hr class="govuk-section-break govuk-section-break--visible">

      <!-- inline style overrides! -->
      <style>
        .govuk-summary-list__actions-list-item {border:0 !important; display:block; margin-right:0; padding-right:0;}

        @media only screen and (max-width: 641px) {
          .govuk-summary-list {
            padding-top: 15px;
          }
        }
      </style>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ data['given-name'] }} {{ data['family-name'] }}
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['email'] }}</p>
            <p>{{ data['mobile'] }}</p>
            <p>Vehicle Registration: {{ data['vehicle-registration'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="check-answers">
              Edit details<span class="govuk-visually-hidden"> for John Smith</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ data['hm-given-name'] }} {{ data['hm-family-name'] }}
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['hm-email'] }}</p>
            <p>{{ data['hm-mobile'] }}</p>
            <p>Vehicle Registration: {{ data['vehicle-registration'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="household-member-check-answers">
              Edit details<span class="govuk-visually-hidden"> for {{ data['hm-given-name'] }} {{ data['hm-family-name'] }}</span>
            </a>
            <br>
            <a class="govuk-link" href="household-members">
              Remove<span class="govuk-visually-hidden"> {{ data['hm-given-name'] }} {{ data['hm-family-name'] }}</span>
            </a>
          </dd>
        </div>

      </dl>

      <a href="find-test-centre" class="govuk-!-margin-right-4 govuk-button">Book appointment</a>
      <a href="household-member-age" class="govuk-button govuk-button--secondary">Add person you live with</a>

    </div>
  </div>

{% endblock %}
