{% extends "layout.html" %}

{% if (data['hm-given-name']) %}
  {% set name = data['hm-given-name'] + ' ' + data['hm-family-name'] %}
{% else %}
  {% set name = "John Smith" %}
{% endif %}

{% block pageTitle %}
  What's {{ name }}'s NHS number? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="household-member-nhs-number-option">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What's {{ name }}'s NHS number?</h1>

      <form action="household-member-app-reference-option" method="post">
        <p class="govuk-body" id="nhsnumber-hint">Their NHS number is a 10 digit number. Please enter the number with no spaces, for example 4857773456. </p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="nhs-number">
            NHS number
          </label>
          <input class="govuk-input" id="nhs-number" name="hm-nhsNumber" type="number" aria-describedby="nhsnumber-hint" value="{{ data['hm-nhsNumber'] }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
