
{% extends "layout.html" %}

{% block pageTitle %}
  What's the date of birth of the person you live with? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="household-members">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="household-member-age-error" method="post">
        {{ govukDateInput({
          id: "dob",
          fieldset: {
            legend: {
              text: "What's the date of birth of the person you live with?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              autocomplete: "bday-day",
              id: "date-day"
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              autocomplete: "bday-month",
              id: "date-month"
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              autocomplete: "bday-year",
              id: "date-year"
            }
          ]
        }) }}
        <button class="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
