
{% extends "layout.html" %}

{% if data['first-name-2'] %}
  {% set kits = "2" %}
{% else %}
  {% set kits = "1" %}
{% endif %}

{% block pageTitle %}
  Order summary - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="order-kits">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="order-kits" method="post">
        <h1 class="govuk-heading-xl">Order Summary</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] }} {{ data['last-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="user-details#name">
                Change<span class="govuk-visually-hidden"> your name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="user-details#dob">
                Change<span class="govuk-visually-hidden"> your date of birth</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['address-line-1'] }}<br>{{ data['address-line-2'] }}<br>{{ data['address-town'] }}<br>{{ data['address-county'] }}<br>{{ data['address-postcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="user-details#name">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nino'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="user-details#nino">
                Change<span class="govuk-visually-hidden"> National Insurance number</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mobile'] }}<br>{{ data['email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="user-details#mobile">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of kits
            </dt>
            <dd class="govuk-summary-list__value">
              {{ kits }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="order-kits">
                Change<span class="govuk-visually-hidden"> number of kits</span>
              </a>
            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Disclaimer</h2>
        {{ govukWarningText({
          text: "By ordering a home testing kit, I confirm that:",
          iconFallbackText: "Warning"
        }) }}

        <ul class="govuk-list govuk-list--bullet">
          <li>The information I’ve provided is up to date and correct</li>
          <li>I agree with the <a href="https://www.gov.uk/help/terms-conditions" target="_blank">Terms and Conditions</a> and <a href="https://www.gov.uk/help/privacy-notice" target="_blank">Privacy Policy</a> of this service</li>
          <li>I am happy to be contacted about my order</li>
        </ul>

        {{ govukCheckboxes({
          id: "understand",
          name: "understand",
          items: [
            {
              value: "true",
              text: "Yes, I confirm that all the above apply
              "
            }
          ]
        }) }}

        <a class="govuk-button" href="order-confirmed">Place order</a></p>

      </form>

    </div>
  </div>

{% endblock %}
