{% extends "layout.html" %}

{% block pageTitle %}
  Error: Which one best describes John Smith's background? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="add-test-kit-ethnicity-group">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": "Select the option that best describes John Smith's background",
            "href": "#arab"
          }
        ]
      }) }}

      <form action="add-test-kit-age" method="post">

        {{ govukRadios({
          idPrefix: "ethnic-group",
          name: "ethnic-group",
          fieldset: {
            legend: {
              text: "Which one best describes John Smith's background?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "This will help us understand how coronavirus is affecting people of different ethnic backgrounds."
          },
          errorMessage: {
            text: "Select the option that best describes John Smith's background"
          },
          items: [
            {
              id: "arab",
              value: "arab",
              text: "Arab"
            },
            {
              id: "another-ethnic-background",
              value: "another-ethnic-background",
              text: "Another ethnic background",
              conditional: {
                html: otherOtherHtml
              }
            },
            {
              divider: "or"
            },
            {
              id: "prefer-not-to-say",
              value: "prefer-not-to-say",
              text: "Prefer not to say",
              label: {
                classes: 'govuk-label'
              }
            }
          ]
        }) }}

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
