
{% extends "layout.html" %}

{% block pageTitle %}
  What's John Smith's home postcode? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="add-test-kit-postcode-option">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": "Select if the postcode is the same or is somewhere else",
            "href": "#same"
          }
        ]
      }) }}

      <form class="form" action="add-test-kit-postcode" method="post">

        {{ govukRadios({
          name: "postcodeOptions",
          fieldset: {
            legend: {
              text: "What's John Smith's home postcode?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Enter their home postcode (ideally the one they used to register with their GP)."
          },
          errorMessage: {
            text: "Select if the postcode is the same or is somewhere else"
          },
          items: [
            {
              id: "same",
              value: "same",
              text: "ls27bj (the same as Joe Smith"
            },
            {
              id: "different",
              value: "different",
              text: "Somewhere else"
            }
          ]
        }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
