{% extends "layout.html" %}

{% block pageTitle %}
  Does John Smith have the NHS COVID-19 app? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="add-test-kit-nhs-number-error">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="add-test-kit-app-reference-option-error" method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Does John Smith have the NHS COVID-19 app? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          name: "appReferenceOption",
          hint: {
            html: '<img src="/public/images/nhs-app-logo.png" class="govuk-!-margin-bottom-4 govuk-!-margin-right-4" height="75" width="75" style="float:left;" alt="NHS COVID-19 app"><span class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">The app is not yet available across the whole of the UK.</span><br>If they have the app, they should be able to see it on their phone with this logo.',
            attributes: {
              style: "color:#0b0c0c"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, they have the app",
              id: "yes"
            },
            {
              value: "no",
              text: "No, they do not have the app",
              id: "no"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
