
{% extends "layout.html" %}

{% block pageTitle %}
  Security check - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="add-test-kits">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Security check</h1>

      <p class="govuk-body">Complete the security check to submit your application

      <p><a class="govuk-button" href="confirmation">Save and continue</a></p>

    </div>
  </div>

{% endblock %}
