
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility testing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility testing
      </h1>
    
      <p>The GOV.UK prototype kit has been used to create the following pages using the styles, components and patterns found in the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>

      <p>These have been tested from an accessibility point of view as much as has been possible.</p>

      <p>Using the HTML from these pages should fix most of the accessibility issues that exist.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Essential workers: apply for a coronavirus test</h2>
      
      <p>URL tested: <a href="https://npd-int-1-sr.int.bluesquirrelproject.net/">https://npd-int-1-sr.int.bluesquirrelproject.net/</a></p>

      <p><a href="self-referral/accessibility-notes">Accessibility testing notes</a></p>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pages with recommended HTML
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li><a href="self-referral/start">Start page</a></li>
            <li><a href="self-referral/eligibility">Eligibility page</a></li>
            <li><a href="self-referral/test-type">How do you want to take the coronavirus test?</a></li>
            <li><a href="self-referral/test-type-error">Error: How do you want to take the coronavirus test?</a></li>
            <li><a href="self-referral/name">What's your name?</a></li>
            <li><a href="self-referral/name-error">Error: What's your name?</a></li>
            <li><a href="self-referral/mobile-number">What's your mobile number?</a></li>
            <li><a href="self-referral/mobile-number-error">Error: What's your mobile number?</a></li>
            <li><a href="self-referral/reason">Why are you getting tested?</a></li>
            <li><a href="self-referral/reason-error">Error: Why are you getting tested?</a></li>
            <li><a href="self-referral/check-answers">Check your answers</a></li>
            <li><a href="self-referral/application-submitted">Application submitted</a></li>
            <li><a href="self-referral/submission-error">Submission error</a></li>
          </ol>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Book a drive-through test</h2>

      <p>URL tested: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/appointment">https://npd-int-1-sp.int.bluesquirrelproject.net/appointment</a></p>

      <p><a href="appointment/accessibility-notes">Accessibility testing notes</a></p>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pages with recommended HTML
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li><a href="appointment/start">Start page</a></li>
            <li><a href="appointment/validate-code">What's your invitation code?</a></li>
            <li><a href="appointment/validate-code-error">Error: What's your invitation code?</a></li>
            <li><a href="appointment/vehicle-registration">What's your vehicle registration number?</a></li>
            <li><a href="appointment/vehicle-registration-error">Error: What's your vehicle registration number?</a></li>
            <li><a href="appointment/age">What's your date of birth?</a></li>
            <li><a href="appointment/age-error">Error: What's your date of birth?</a></li>
            <li><a href="appointment/name">What's your name?</a></li>
            <li><a href="appointment/name-error">Error: What's your name?</a></li>
            <li><a href="appointment/gender">What's your gender?</a></li>
            <li><a href="appointment/gender-error">Error: What's your gender?</a></li>
            <li><a href="appointment/email-address">What's your email?</a></li>
            <li><a href="appointment/email-address-error">Error: What's your email address?</a></li>
            <li><a href="appointment/contact-mobile-number">What's your mobile number?</a></li>
            <li><a href="appointment/contact-mobile-number-error">Error: What's your mobile number?</a></li>
            <li><a href="appointment/postcode">What's your home postcode? </a></li>
            <li><a href="appointment/postcode-error">Error: What's your home postcode?</a></li>
            <li><a href="appointment/nhs-number-option">Do you know your NHS number?</a></li>
            <li><a href="appointment/nhs-number-option-error">Error: Do you know your NHS number?</a></li>
            <li><a href="appointment/nhs-number">What's your NHS number? </a></li>
            <li><a href="appointment/nhs-number-error">Error: What's your NHS number? </a></li>
            <li><a href="appointment/app-reference-option">Do you have the NHS COVID-19 app?</a></li>
            <li><a href="appointment/app-reference-option-error">Error: Do you have the NHS COVID-19 app?</a></li>
            <li><a href="appointment/app-reference">What's your app reference code?</a></li>
            <li><a href="appointment/app-reference-error">Error: What's your app reference code?</a></li>
            <li><a href="appointment/check-answers">Check your answers</a></li>
          </ol>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
