
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility testing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility testing
      </h1>

      <p>The GOV.UK prototype kit has been used to create the following pages using the styles, components and patterns found in the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>

      <p>These have been tested from an accessibility point of view as much as has been possible.</p>

      <p>Using the HTML from these pages should fix most of the accessibility issues that exist.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Essential workers: apply for a coronavirus test</h2>

      <p>URL tested: <a href="https://npd-int-1-sr.int.bluesquirrelproject.net/">https://npd-int-1-sr.int.bluesquirrelproject.net/</a></p>

      <p><a href="self-referral/accessibility-notes">Accessibility testing notes</a></p>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pages with recommended HTML
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li><a href="self-referral/start">Start page</a></li>
            <li><a href="self-referral/eligibility">Eligibility page</a></li>
            <li><a href="self-referral/test-type">How do you want to take the coronavirus test?</a></li>
            <li><a href="self-referral/test-type-error">Error: How do you want to take the coronavirus test?</a></li>
            <li><a href="self-referral/name">What's your name?</a></li>
            <li><a href="self-referral/name-error">Error: What's your name?</a></li>
            <li><a href="self-referral/mobile-number">What's your mobile number?</a></li>
            <li><a href="self-referral/mobile-number-error">Error: What's your mobile number?</a></li>
            <li><a href="self-referral/reason">Why are you getting tested?</a></li>
            <li><a href="self-referral/reason-error">Error: Why are you getting tested?</a></li>
            <li><a href="self-referral/check-answers">Check your answers</a></li>
            <li><a href="self-referral/application-submitted">Application submitted</a></li>
            <li><a href="self-referral/submission-error">Submission error</a></li>
          </ol>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Book a drive-through test</h2>

      <p>URL tested: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/appointment">https://npd-int-1-sp.int.bluesquirrelproject.net/appointment</a></p>

      <p><a href="appointment/accessibility-notes">Accessibility testing notes</a></p>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pages with recommended HTML
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li><a href="appointment/start">Start page</a></li>
            <li><a href="appointment/validate-code">What's your invitation code?</a></li>
            <li><a href="appointment/validate-code-error">Error: What's your invitation code?</a></li>
            <li><a href="appointment/vehicle-registration">What's your vehicle registration number?</a></li>
            <li><a href="appointment/vehicle-registration-error">Error: What's your vehicle registration number?</a></li>
            <li><a href="appointment/age">What's your date of birth?</a></li>
            <li><a href="appointment/age-error">Error: What's your date of birth?</a></li>
            <li><a href="appointment/name">What's your name?</a></li>
            <li><a href="appointment/name-error">Error: What's your name?</a></li>
            <li><a href="appointment/gender">What's your gender?</a></li>
            <li><a href="appointment/gender-error">Error: What's your gender?</a></li>
            <li><a href="appointment/ethnicity-group">What is your ethnic group?</a></li>
            <li><a href="appointment/ethnicity-group-error">Error: What's your ethnic group?</a></li>
            <li>Ethnicity group - Asian: <a href="appointment/ethnicity-group-asian">Which one best describes your Asian or Asian British background?</a></li>
            <li>Ethnicity group - Asian: <a href="appointment/ethnicity-group-asian-error">Error: Which one best describes your Asian or Asian British background?</a></li>
            <li>Ethnicity group - Black: <a href="appointment/ethnicity-group-black">Which one best describes your Black, African, Black British or Caribbean background?</a></li>
            <li>Ethnicity group - Black: <a href="appointment/ethnicity-group-black-error">Error: Which one best describes your Black, African, Black British or Caribbean background?</a></li>
            <li>Ethnicity group - Mixed: <a href="appointment/ethnicity-group-mixed">Which one best describes your Mixed or Multiple ethnic groups background?</a></li>
            <li>Ethnicity group - Mixed: <a href="appointment/ethnicity-group-mixed-error">Error: Which one best describes your Mixed or Multiple ethnic groups background?</a></li>
            <li>Ethnicity group - White: <a href="appointment/ethnicity-group-white">Which one best describes your White background?</a></li>
            <li>Ethnicity group - White: <a href="appointment/ethnicity-group-white-error">Error: Which one best describes your White background?</a></li>
            <li>Ethnicity group - Other: <a href="appointment/ethnicity-group-other">Which one best describes your background?</a></li>
            <li>Ethnicity group - Other: <a href="appointment/ethnicity-group-other-error">Error: Which one best describes your background?</a></li>
            <li><a href="appointment/email-address">What's your email address?</a></li>
            <li><a href="appointment/email-address-error">Error: What's your email address?</a></li>
            <li><a href="appointment/contact-mobile-number">What's your mobile number?</a></li>
            <li><a href="appointment/contact-mobile-number-error">Error: What's your mobile number?</a></li>
            <li><a href="appointment/postcode">What's your home postcode?</a></li>
            <li><a href="appointment/postcode-error">Error: What's your home postcode?</a></li>
            <li><a href="appointment/nhs-number-option">Do you know your NHS number?</a></li>
            <li><a href="appointment/nhs-number-option-error">Error: Do you know your NHS number?</a></li>
            <li><a href="appointment/nhs-number">What's your NHS number?</a></li>
            <li><a href="appointment/nhs-number-error">Error: What's your NHS number?</a></li>
            <li><a href="appointment/app-reference-option">Do you have the NHS COVID-19 app?</a></li>
            <li><a href="appointment/app-reference-option-error">Error: Do you have the NHS COVID-19 app?</a></li>
            <li><a href="appointment/app-reference">What's your app reference code?</a></li>
            <li><a href="appointment/app-reference-error">Error: What's your app reference code?</a></li>
            <li><a href="appointment/check-answers">Check your answers</a></li>
            <li><a href="appointment/household-members">People confirmed for testing</a></li>
            <li>Add person you live with - <a href="appointment/household-member-age">What's the date of birth of the person you live with?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-name">What's the name of the person you live with?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-gender">What's the person's gender?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-email-address">What's the person's email address?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-contact-mobile-number">What's the person's mobile number?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-postcode">What's the person's home postcode?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-nhs-number-option">Do you know the person's NHS number?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-nhs-number">What's the person's NHS number?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-app-reference-option">Does the person have the NHS COVID-19 app?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-app-reference">What's the person's app reference code?</a></li>
            <li>Add person you live with - <a href="appointment/household-member-check-answers">Check your answers</a></li>
            <li><a href="appointment/household-members-extras">People confirmed for testing</a></li>
            <li><a href="appointment/find-test-centre">Find a test site</a></li>
            <li><a href="appointment/choose-test-centre">Test sites near LS27BJ</a></li>
            <li><a href="appointment/choose-time">Choose a time</a></li>
            <li><a href="appointment/confirm-appointment">Confirm your appointment</a></li>
            <li><a href="appointment/appointment-confirmed">Appointment confirmed</a></li>
          </ol>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Register a home test kit</h2>

      <p>URL tested: <a href="https://npd-int-1-sp.int.bluesquirrelproject.net/home-testing">https://npd-int-1-sp.int.bluesquirrelproject.net/home-testing</a></p>

      <p><a href="home-testing/accessibility-notes">Accessibility testing notes</a></p>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pages with recommended HTML
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li><a href="home-testing/start">Start page</a></li>
            <li><a href="home-testing/book-courier">Have you booked your courier?</a></li>
            <li><a href="home-testing/book-courier-error">Error: Have you booked your courier?</a></li>
            <li><a href="home-testing/book-courier-none-selected">You must book a courier before you register your test</a></li>
            <li><a href="home-testing/barcode">Enter your home test barcode</a></li>
            <li><a href="home-testing/barcode-error">Error: Enter your home test barcode</a></li>
            <li><a href="home-testing/scan">Scan your home test barcode</a></li>
            <li><a href="home-testing/name">What's your name?</a></li>
            <li><a href="home-testing/name-error">Error: What's your name?</a></li>
            <li><a href="home-testing/gender">What's your gender?</a></li>
            <li><a href="home-testing/gender-error">Error: What's your gender?</a></li>
            <li><a href="home-testing/ethnicity-group">What is your ethnic group?</a></li>
            <li><a href="home-testing/ethnicity-group-error">Error: What is your ethnic group?</a></li>
            <li>Ethnicity group - Asian: <a href="home-testing/ethnicity-group-asian">Which one best describes your Asian or Asian British background?</a></li>
            <li>Ethnicity group - Asian: <a href="home-testing/ethnicity-group-asian-error">Error: Which one best describes your Asian or Asian British background?</a></li>
            <li>Ethnicity group - Black: <a href="home-testing/ethnicity-group-black">Which one best describes your Black, African, Black British or Caribbean background?</a></li>
            <li>Ethnicity group - Black: <a href="home-testing/ethnicity-group-black-error">Error: Which one best describes your Black, African, Black British or Caribbean background?</a></li>
            <li>Ethnicity group - Mixed: <a href="home-testing/ethnicity-group-mixed">Which one best describes your Mixed or Multiple ethnic groups background?</a></li>
            <li>Ethnicity group - Mixed: <a href="home-testing/ethnicity-group-mixed-error">Error: Which one best describes your Mixed or Multiple ethnic groups background?</a></li>
            <li>Ethnicity group - White: <a href="home-testing/ethnicity-group-white">Which one best describes your White background?</a></li>
            <li>Ethnicity group - White: <a href="home-testing/ethnicity-group-white-error">Error: Which one best describes your White background?</a></li>
            <li>Ethnicity group - Other: <a href="home-testing/ethnicity-group-other">Which one best describes your background?</a></li>
            <li>Ethnicity group - Other: <a href="home-testing/ethnicity-group-other-error">Error: Which one best describes your background?</a></li>
            <li><a href="home-testing/age">What's your date of birth?</a></li>
            <li><a href="home-testing/test-date-time">When will you take the swab test?</a></li>
            <li><a href="home-testing/test-date-time-error">Error: When will you take the swab test?</a></li>
            <li><a href="home-testing/email-address">What's your email address?</a></li>
            <li><a href="home-testing/email-address-error">Error: What's your email address?</a></li>
            <li><a href="home-testing/contact-mobile-number">What's your mobile number?</a></li>
            <li><a href="home-testing/contact-mobile-number-error">Error: What's your mobile number?</a></li>
            <li><a href="home-testing/postcode">What's your home postcode?</a></li>
            <li><a href="home-testing/postcode-error">Error: What's your home postcode?</a></li>
            <li><a href="home-testing/nhs-number-option">Do you know your NHS number?</a></li>
            <li><a href="home-testing/nhs-number-option-error">Error: Do you know your NHS number?</a></li>
            <li><a href="home-testing/nhs-number">What's your NHS number?</a></li>
            <li><a href="home-testing/nhs-number-error">Error: What's your NHS number?</a></li>
            <li><a href="home-testing/app-reference-option">Do you have the NHS COVID-19 app?</a></li>
            <li><a href="home-testing/app-reference-option-error">Error: Do you have the NHS COVID-19 app?</a></li>
            <li><a href="home-testing/app-reference">What's your app reference code?</a></li>
            <li><a href="home-testing/app-reference-error">Error: What's your app reference code?</a></li>
            <li><a href="home-testing/check-answers">Check your answers</a></li>
            <li><a href="home-testing/add-test-kits">Test kits</a></li>
            <li><a href="home-testing/add-test-kit-barcode">Enter the home test barcode for the person you live with</a></li>
            <li><a href="home-testing/add-test-kit-barcode-error">Error: Enter the home test barcode for the person you live with</a></li>
            <li><a href="home-testing/scan">Scan your home test barcode</a></li>
            <li><a href="home-testing/add-test-kit-name">What's the name of the person you live with?</a></li>
            <li><a href="home-testing/add-test-kit-name-error">Error: What's the name of the person you live with?</a></li>
            <li><a href="home-testing/add-test-kit-gender">What's John Smith's gender?</a></li>
            <li><a href="home-testing/add-test-kit-gender-error">Error: What's John Smith's gender?</a></li>
            <li><a href="home-testing/add-test-kit-ethnicity-group">What is John Smith's ethnic group?</a></li>
            <li>Ethnicity group - Asian: <a href="home-testing/add-test-kit-ethnicity-group-asian">Which one best describes John Smith's Asian or Asian British background?</a></li>
            <li>Ethnicity group - Asian: <a href="home-testing/add-test-kit-ethnicity-group-asian-error">Error: Which one best describes John Smith's Asian or Asian British background?</a></li>
            <li>Ethnicity group - Black: <a href="home-testing/add-test-kit-ethnicity-group-black">Which one best describes John Smith's Black, African, Black British or Caribbean background?</a></li>
            <li>Ethnicity group - Black: <a href="home-testing/add-test-kit-ethnicity-group-black-error">Error: Which one best describes John Smith's Black, African, Black British or Caribbean background?</a></li>
            <li>Ethnicity group - Mixed: <a href="home-testing/add-test-kit-ethnicity-group-mixed">Which one best describes John Smith's Mixed or Multiple ethnic groups background?</a></li>
            <li>Ethnicity group - Mixed: <a href="home-testing/add-test-kit-ethnicity-group-mixed-error">Error: Which one best describes John Smith's Mixed or Multiple ethnic groups background?</a></li>
            <li>Ethnicity group - White: <a href="home-testing/add-test-kit-ethnicity-group-white">Which one best describes John Smith's White background?</a></li>
            <li>Ethnicity group - White: <a href="home-testing/add-test-kit-ethnicity-group-white-error">Error: Which one best describes John Smith's White background?</a></li>
            <li>Ethnicity group - Other: <a href="home-testing/add-test-kit-ethnicity-group-other">Which one best describes John Smith's background?</a></li>
            <li>Ethnicity group - Other: <a href="home-testing/add-test-kit-ethnicity-group-other-error">Error: Which one best describes John Smith's background?</a></li>
            <li><a href="home-testing/add-test-kit-age">What's John Smith's date of birth?</a></li>
            <li><a href="home-testing/add-test-kit-test-date-time-option">When will John Smith's take the swab test? - option</a></li>
            <li><a href="home-testing/add-test-kit-test-date-time-option-error">Error: When will John Smith's take the swab test? - option</a></li>
            <li><a href="home-testing/add-test-kit-test-date-time">When will John Smith's take the swab test?</a></li>
            <li><a href="home-testing/add-test-kit-test-date-time-error">Error: When will John Smith's take the swab test?</a></li>
            <li><a href="home-testing/add-test-kit-email-address">What's John Smith's email address?</a></li>
            <li><a href="home-testing/add-test-kit-email-address-error">Error: What's John Smith's email address?</a></li>
            <li><a href="home-testing/add-test-kit-contact-mobile-number">What's John Smith's mobile number?</a></li>
            <li><a href="home-testing/add-test-kit-contact-mobile-number-error">Error: What's John Smith's mobile number?</a></li>
            <li><a href="home-testing/add-test-kit-postcode-option">What's John Smith's home postcode? - option</a></li>
            <li><a href="home-testing/add-test-kit-postcode-option-error">Error: What's John Smith's home postcode? - option</a></li>
            <li><a href="home-testing/add-test-kit-postcode">What's John Smith's home postcode?</a></li>
            <li><a href="home-testing/add-test-kit-postcode-error">Error: What's John Smith's home postcode?</a></li>
            <li><a href="home-testing/add-test-kit-nhs-number-option">Do you know John Smith's NHS number?</a></li>
            <li><a href="home-testing/add-test-kit-nhs-number-option-error">Error: Do you know John Smith's NHS number?</a></li>
            <li><a href="home-testing/add-test-kit-nhs-number">What's John Smith's NHS number?</a></li>
            <li><a href="home-testing/add-test-kit-nhs-number-error">Error: What's John Smith's NHS number?</a></li>
            <li><a href="home-testing/add-test-kit-app-reference-option">Do you have the NHS COVID-19 app?</a></li>
            <li><a href="home-testing/add-test-kit-app-reference-option-error">Error: Do you have the NHS COVID-19 app?</a></li>
            <li><a href="home-testing/add-test-kit-app-reference">What's John Smith's app reference code?</a></li>
            <li><a href="home-testing/add-test-kit-app-reference-error">Error: What's John Smith's app reference code?</a></li>
            <li><a href="home-testing/add-test-kit-check-answers">Check your answers</a></li>
            <li><a href="home-testing/add-test-kit-add-test-kits">Test kits</a></li>
            <li><a href="home-testing/confirmation">Home test kit registration confirmed</a></li>
          </ol>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Order a home test kit</h2>

      <p>URL tested: <a href="https://dev.key-worker-coronavirus-home-testing.service.gov.uk/">https://dev.key-worker-coronavirus-home-testing.service.gov.uk/</a></p>

      <p><a href="home-test-ordering/accessibility-notes">Accessibility testing notes</a></p>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pages with recommended HTML
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li><a href="home-test-ordering/start">Start page</a></li>
            <li><a href="home-test-ordering/order">Order a home test kit</a></li>
            <li><a href="home-test-ordering/enter-details">Enter your details</a></li>
            <li><a href="home-test-ordering/confirm-email">Confirm your email</a></li>
            <li><a href="home-test-ordering/confirm-email-code">Confirm your email - code</a></li>
            <li><a href="home-test-ordering/confirm-identity">We need to confirm your identity</a></li>
            <li><a href="home-test-ordering/there-is-a-problem">There is a problem</a></li>
            <li><a href="home-test-ordering/order-kits">Order home test kits</a></li>
            <li><a href="home-test-ordering/order-summary">Order summary</a></li>
            <li><a href="home-test-ordering/order-confirmed">We’ve received your order</a></li>
          </ol>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
